@import url('https://fonts.googleapis.com/css?family=Roboto');
$green: #17A589;

#root {
  font-family: 'Roboto', sans-serif;
}

/*HEADER*/
.title {
margin-left: 50%;
padding-top: 50px;
}

.header {
  width: 100%;
  height: 150px;
  background-color: $green;
}

.logo_icon {
  display: inline;
  margin: 20px;
  padding: 10px;
  width: 100px;
  height: 100px;
  float: left;
}

/*TWEETS*/
.leftContainer {
  padding: 20px;
  width: 25%;
  position: absolute;
}
.tweetsContainer {
  margin-left: 30%;

  @media screen and (max-width: 900px) {
    margin: 10px;
    align-content: center;
  }
}

h2 {
  font-size: 15px;
}

.tweetCard {
  background-color: white;
  border-radius: 5px;
  margin: 30px;
  box-shadow: 1px 2px 1px 2px #D3D3D3;
  padding: 30px;
}

.userInfo {
  align-content: center;
  width: 20%;
  float: left;

    @media screen and (max-width: 650px) {
    width: 100%;
    float: none;
    position: relative;
    align-content: center;
  }
}

.tweetMsg {
  width: 80%;
  float: right;
    @media screen and (max-width: 650px) {
      width: 100%;
      float: none;
      position: relative;
      align-content: center;
  }
}

.userAvatar {
  width: 70px;
  height: 70px;
  border: 1px solid black;
    @media screen and (max-width: 650px) {
      display:none;
    }
}

.fa-heart.like {
  color: red;
  padding: 10px;
}

.fa-heart.unlike {
  color: grey;
  padding: 10px;
}